<article
	class="mx-auto my-10 markdown-content
		prose prose-stone text-lg
		font-merri font-normal
		leading-loose tracking-normal
		dark:prose-invert
		prose-p:text-pretty
		prose-img:rounded-xl"
	lang="de"
>
	<!-- <h1>{title}</h1> -->
	<slot />
</article>
